<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>website</servlet-name>
    <jsp-file>/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>website</servlet-name>
    <url-pattern>/website/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>recipefinder.WebsiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/website/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recipematch</servlet-name>
    <jsp-file>/recipematch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recipematch</servlet-name>
    <url-pattern>/recipematch/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>requestmatch</servlet-name>
    <servlet-class>recipefinder.RecipeMatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestmatch</servlet-name>
    <url-pattern>/recipematch/requestmatch</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>